# Node / Package
/node_modules
/npm-debug.log*
/yarn-error.log

# Build / Output
/build
/public/build
/public/hot
/public/storage

# Environment
.env
.env.local
.env.*.local
.env.backup
.env.production
/storage/*.key

# Vendor / PHP
/vendor
/.phpunit.cache
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json

# IDE / Editor
/.idea
/.vscode
/.fleet
.DS_Store
**/.DS_Store

